name: build

on:
  push:
    branches:
      - 'master'
    tags:
      - '*'
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - 'master'
    paths-ignore:
      - '**.md'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Prepare
        id: prepare
        run: |
          DOCKER_USERNAME=crazymax
          DOCKER_IMAGE=crazymax/rtorrent-rutorrent
          VERSION=edge

          if [[ $GITHUB_REF == refs/tags/* ]]; then
            TAG=${GITHUB_REF#refs/tags/}
            VERSION=${TAG%-*}
          fi

          TAGS="--tag ${DOCKER_IMAGE}:${VERSION}"
          if [ "$VERSION" != "edge" ]; then
            TAGS="$TAGS --tag ${DOCKER_IMAGE}:latest"
          fi

          echo ::set-output name=docker_username::${DOCKER_USERNAME}
          echo ::set-output name=docker_image::${DOCKER_IMAGE}
          echo ::set-output name=version::${VERSION}
          echo ::set-output name=build_args::--build-arg VERSION=${VERSION} \
            --build-arg BUILD_DATE=$(date -u +'%Y-%m-%dT%H:%M:%SZ') \
            --build-arg VCS_REF=${GITHUB_SHA::8} \
            ${TAGS} --file Dockerfile .
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Docker Build
        run: |
          docker build ${{ steps.prepare.outputs.build_args }}
      -
        name: Docker Login
        if: success() && github.event_name != 'pull_request' && endsWith(github.ref, github.event.repository.default_branch)
        env:
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          echo "${DOCKER_PASSWORD}" | docker login --username "${{ steps.prepare.outputs.docker_username }}" --password-stdin
      -
        name: Docker Push
        if: success() && github.event_name != 'pull_request' && endsWith(github.ref, github.event.repository.default_branch)
        run: |
          docker push ${{ steps.prepare.outputs.docker_image }}
      -
        name: Docker Check Manifest
        if: success() && github.event_name != 'pull_request' && endsWith(github.ref, github.event.repository.default_branch)
        run: |
          docker run --rm mplatform/mquery ${{ steps.prepare.outputs.docker_image }}:${{ steps.prepare.outputs.version }}
      -
        name: Clear
        if: always() && github.event_name != 'pull_request' && endsWith(github.ref, github.event.repository.default_branch)
        run: |
          rm -f ${HOME}/.docker/config.json
